<div>
  <h1>Game ID: {{ getGameId() }}</h1>
  <h2 *ngIf="hasGameStarted()">
    You are <span>{{ getPlayerRole() }}</span>
  </h2>
  <div class="board">
    <div
      [ngClass]="{ 'role--unsorted': isPlayerUnsorted(player), 'player--enemy': isPlayerEnemy(player), 'player--friendly': isPlayerTeammate(player)}"
      class="board__player" [ngStyle]="{'transform': calculateTransform(player, getPlayers())}"
      *ngFor="let player of getPlayers(); index as i"
      (click)="showChoosePlayerButton() && togglePlayer(player); isGuessingMerlin() && selectPotentialMerlin(player)">
      <img src="assets/User_icon_2.svg.png" alt="Character image" />
      <div class="player-name">{{ player }} <span *ngIf="isSelectedPlayer(player)">*</span><span
          *ngIf="potentialMerlin === player">!¿!</span></div>
    </div>
    <div *ngIf="isGameInProgress()">
      <div class="board__adventure-status">
        <div *ngFor="let adventure of [0, 1, 2, 3, 4]">
          <img *ngIf="getAdventureOutcome(adventure) === 0" src="assets/round-success.png" alt="Round Success" />
          <img *ngIf="getAdventureOutcome(adventure) === 1" src="assets/round-fail.png" alt="Round Fail" />
          <span *ngIf="![0,1].includes(getAdventureOutcome(adventure))">{{ getAdventurersForAdventure(adventure)
            }}</span>
        </div>
      </div>
      <div class="board__adventure-rounds">
        <div *ngFor="let adventure of [0, 1, 2, 3, 4]">
          <img *ngIf="getCurrentRound() === adventure + 1" src="assets/round-success.png" alt="Round Success">
          <span *ngIf="getCurrentRound() !== adventure + 1">{{ adventure + 1 }}</span>
        </div>
      </div>
    </div>
  </div>

  <button *ngIf="isCurrentPlayerMove()" (click)="toAdventureApprovalStep()">
    Start adventure
  </button>
</div>
<div *ngIf="isAdventureOutcomeStep() && isAdventurer()">
  <button (click)="voteAdventureOutcome('success')">Success</button>
  <button (click)="voteAdventureOutcome('fail')">Fail</button>
</div>

<div *ngIf="isAdventureApprovalStep()">
  <button (click)="approveAdventure(true)">Approve</button>
  <button (click)="approveAdventure(false)">Disapprove</button>
</div>

<div *ngIf="!isGameInProgress() && getWinningTeamName() != null">Winner: {{ getWinningTeamName() }}</div>

<div *ngIf="isGuessingMerlin()">
  <button (click)="guessMerlin()">Confirm guess</button>
</div>

<div *ngIf="!isGameInProgress() && isLobbyLeader()">
  <button (click)="startGame()">Start game</button>
</div>

<div *ngIf="isGameOver()">
  <h3>Game Over!</h3>
  <button (click)="startGame()">New Game</button>
</div>